# package directories
node_modules
jspm_packages

.env
.env.local

# Serverless directories
.serverless

.webpack/pinkmonkey-photo-uploader.zip
.webpack/service/src/insertPhoto.js
.webpack/service/src/insertPhoto.js.map
